body {
	margin: 2%;
	font-family: chalkduster;
	font-size: 20px;
}
header{
	background-image: url("Flag.png");
	background-size: contain;
}
h1{
	font-weight: bold;
	font-size: 50px;
	color: #CCCCCC;
}
h2{
	font-weight: bold;
}
h3{
	font-weight: bold;
}
#navigation1 .navigation-1, #navigation2 .navigation-2, #navigation3 .navigation-3, #navigation4 .navigation-4{
	background-color: pink;
	color: #FFFF00;
	font-family: "marker felt";
	font-weight: bold;
	text-transform: uppercase;
	}
	.facts{
		border: black 3px dash;
	}

	footer a{
		display: block;
		text-align: center;
		border: 3px solid black;
		margin: 3px;
		border-radius: 30px;
		background-color: orange;
	}

	.carousel-inner > .item > img,
  	.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
@media only screen and (min-width: 400px){
/*	#flag{
		width: 20%;
		float: right;
		padding-left: 2%;
	}*/

	body{
		background-color: 	#7fc9b1;
		color: #003333;
	}
	body img{
		width: 50%;
		padding: 5%;
	}



	

}

@media all and (min-width: 800px){
	body{
		background-color: pink;
	}
	figure { 
	  display: block; 
	  position: relative; 
	  overflow: hidden; 
	}

	figcaption { 
	  position: absolute; 
	  background: rgba(0,0,0,0.75); 
	  color: white; 
	  padding: 10px 20px; 
	}
	figcaption { 
	  position: absolute; 
	  background: rgba(0,0,0,0.75); 
	  color: white; 
	  padding: 10px 20px; 

	  opacity: 0;
	  bottom: 0; 
	  left: -30%;
	  -webkit-transition: all 0.6s ease;
	  -moz-transition:    all 0.6s ease;
	  -o-transition:      all 0.6s ease;
	}

	figure:hover figcaption {
	  opacity: 1;
	  left: 0;
	}


}

@media all and (min-width: 1100px){
	body{
		background-color: yellow;
	}
	#flag{
		float: right;
		padding-left: 2%;
	}
}