{% extends "templates/base.html" %}

{% block header %}
	<title>Home</title>
{% endblock %}

{% block body %}
<!-- <body> -->
<body id = "navigation1">
{% endblock %}


{% block head %}
	<h2>Home</h2>
{% endblock %}

{% block content %}	
	

	<!-- adds text to the home page. -->
<div class="container text-center"> 
  <div class="row">
		<h3>Facts</h3>
		<p>Colorado entered the Union on August 1, 1876</p>
		<p>Colorado is nicknamed The Centennial State because 100 years after the signing of our nations Declaration of Independence we became a state.</p>
	<div class="col-sm-12 col-md-6 col-lg-4">
	<figure>
	<img src="static/Denver.gif" alt="Capital" class="grow center-block img-responsive">
		<figcaption>
			The capital of Colorado is Denver, located in the upper right hand corner of the map.
		</figcaption>
	</figure>
	
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<figure>
		<img src="static/MountElbert.JPG" alt="Mount Elbert" class="grow img-responsive center-block">
		<figcaption>
			Mount Elbert is the highest point in Colorado, coming in at 14,433 feet.
		</figcaption>
	</figure>
	</div>	
	<div class="col-sm-12 col-lg-4">
	<figure>
		<img src="static/arkansasriver.jpg" alt="Arkansas River" class="grow img-responsive center-block">
		<figcaption>
			The lowest point is the Arkansas River at 3,315 feet above sea level.
		</figcaption>
	</figure>
    </div>
  </div>
</div>

<div class="container text-center"> 
  <div class="row">
	<h3>State...</h3>
		<p class="facts">Motto: Nil sine and Numine (nothing without Providence)</p>

<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/RMColumbine.jpg" alt="Rocky Mountain Columbine" class="center-block grow img-responsive">
		<figcaption>
			<p class="facts">Flower: Rocky Mountain Columbine</p>
		</figcaption>
	</figure>
</div>
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/RMbighornsheep.jpg" alt="Rocky Mountain Bighorn Sheep" class="grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Animal: Rocky Mountain Bighorn Sheep</p>
		</figcaption>
	</figure>
</div>
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/CutthroatTrout.jpg" alt="Greenback Cutthroat Trout" class=" grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Fish: Greenback Cutthroat Trout</p>
		</figcaption>
	</figure>
</div>
</div>
<div class="row">
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/ColoradoHairstreakButterfly.jpg" alt="Colorado Hairstreak Butterfly" class="grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Insect: Colorado Hairstreak Butterfly</p>
		</figcaption>
	</figure>
</div>
<div class="col-sm-12 col-md-4">	
	<figure>
		<img src="static/LarkBunting.jpg" alt="Lark Bunting" class="grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Bird: Lark Bunting</p>
		</figcaption>
	</figure>
</div>	
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/BlueSpruce.jpg" alt="Blue Spruce" class="grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Tree: Colorado blue Spruce</p>
		</figcaption>
	</figure>
</div>
</div>
 <div class="row">
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/bluegramagrass.JPG" alt="Blue Grama Grass" class="grow img-responsive center-block"> 
		<figcaption>
			<p class="facts">Grass: Blue Grama Grass</p>
		</figcaption>
	</figure>
</div>
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/Aquamarine.jpg" alt="Aquamarine" class="center-block grow img-responsive">
		<figcaption>
			<p class="facts">Gem: Aquamarine</p>
		</figcaption>
	</figure>
</div>
<div class="col-sm-12 col-md-4">
	<figure>
		<img src="static/Stegosaurus.jpg" alt="Stegosaurus" class= "grow img-responsive center-block">
		<figcaption>
			<p class="facts">Fossil: Stegosaurus</p>
		</figcaption>
	</figure>
</div>


</div>

	<iframe src="https://www.youtube.com/embed/LLWD2WIvRQk" allowfullscreen></iframe>  
	<p class="facts">Song: Rocky Mountain High</p>
 
  
</div>


{% endblock %}
	